server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobtracker
    username: jobtracker
    password: jobtracker
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true

jwt:
  secret: "9f8d7c6b5a4e3f2g1h0j9k8l7m6n5p4q"
  expirationMinutes: 120

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

kafka:
  topics:
    interviewScheduled: interview-scheduled
