server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobtracker
    username: jobtracker
    password: jobtracker
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true

jwt:
  secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+_CHARS"
  expirationMinutes: 120

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs